html {
  box-sizing: border-box;
  font-size: 10px;
  background: #8e24aa;
  background: linear-gradient(45deg, #42a5f5 0%, #478ed1 50%, #0d47a1 100%);
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.display__time-left {
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.timer__controls {
  display: flex;
  justify-content: space-evenly;
}
.timer__controls > * {
  flex: 1;
}
.timer__controls form {
  flex: 1;
  display: flex;
}
.timer__controls input {
  flex: 1;
  border: 0;
  padding: 2rem;
}
.timer__button {
  cursor: pointer;
  font-size: 2rem;
  background: transparent;
  border: 0.5px solid mistyrose;
  color: #fff;
  font-family: inherit;
}
.display {
  display: flex;
  flex-direction: column;
  margin-top: 10em;
}
.display__end-time {
  font-size: 5rem;
}
